certifi
charset-normalizer
click
dlib
face-recognition
face-recognition-models
idna
importlib-metadata
imutils
numpy
opencv-python
Pillow
PyJWT
python-dotenv
python-http-client
pytz
requests
sendgrid
six
starkbank-ecdsa
typing-extensions
urllib3
zipp
pyttsx3
